header {
    background-image: linear-gradient(to right, rgb(0, 115, 255) , rgb(4, 0, 134));
    color: whitesmoke;
    padding: 15px;
    
}
#title {
    font-size: 50px;
}

.sideBar {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

.cityName {
    margin: 10px;
}

.btn {
    margin: 10px;
}

.container {
    display: flex;
    align-items: flex-start;

}